/* Import the google web fonts you want to use */
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Lato&display=swap');

/*Typography
--------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');
* {
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
}
body, html, .App, #root, .auth-wrapper {
  width: 100%;
  height: 100%;
  background-image: url("../public/gray-blank-concrete-wall-mockup-with-wooden-floor.jpg");
   background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover;
  overflow: overflow-y;
}
.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}
.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  margin: 50px
}
.auth-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}
.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}
.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}
.custom-control-label {
  font-weight: 400;
}
.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}
.forgot-password a {
  color: #167bff;
}

body,
button,
select {
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", serif;
  letter-spacing: 2px;
}

p {
  margin-bottom: 1.5em;
}

.card {
margin: 10px;
}

.collapsible,.collapsible2 {
  background-color: #708090;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}
 .collapsible:hover,.collapsible2:hover {
  background-color: #536878;
}

.content, .content2 {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.collapsible:after,.collapsible2:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}



.demo-footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 15px;
	background-color: #212121;
	text-align: center;
}

.demo-footer > a {
	text-decoration: none;
	font-weight: bold;
	font-size: 16px;
	color: #fff;
}


.img-with-text {
  text-align: justify;
  padding: 7px;
}

.img-with-text img {
  display: block;
  margin: 0 auto;
}