/* Import the google web fonts you want to use */
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Lato&display=swap');

/*Typography
--------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');
* {
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
}
body, html, .App, #root, .auth-wrapper {
  height: 100%;
  
  overflow: overflow-y;

}

#page-content {
  flex: 1 0 auto;
}




.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}
.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  margin: 5px
}
.auth-inner {
  width: 350px;
  height: auto;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}
.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}
.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}
.custom-control-label {
  font-weight: 400;
}
.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}
.forgot-password a {
  color: #167bff;
}

body,
select {
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  height: auto;
}



body {
  background: url("../public/background.png") no-repeat 100% 100% fixed; 
  -webkit-background-size: 100%;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", serif;
  letter-spacing: 2px;
}

p {
  margin-bottom: 1.5em;
}

.card {
margin: 10px;
opacity: 0.80;
}

.cards-column-upkeeps {
  background-color: rgb(255,255,255, 75%);
  margin-bottom: 100px;
}
.cards-column {
  position:relative;
  margin:150px;
  /* z-index: -1; */
}

.navbar {
  margin-bottom: 25px;
}

.inventory {
  display: grid;
  grid-template-columns: repeat(6, 1fr);}



.collapsible {
  background-color: #708090;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}
 .collapsible:hover {
  background-color: #536878;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

aside {
  width: auto;
  padding-left: .5rem;
  margin-left: .5rem;
  float: right;
  box-shadow: inset 5px 0 5px -5px #29627e;
  font-style: italic;
  color: #29627e;
  background-color: rgb(255,255,255, 50%)
}

aside > p {
  margin: .5rem;
}

.welcome {
  font-style: italic;
  font-size:large;
  font-weight: bold;
}

.inventory-info {
  display: flex;
  justify-content: space-between;
}

/* Footer */
footer {
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-top:100px ;
  z-index: 9999;

}

footer div {
  
  margin: 1em;
}


#footer-logo {
  width: 100px;
  height: 100px;
  background-color: black;
}

.github-logo {
  font-size: 1.3em;
}

a:link {
  text-decoration: none;
}


option:first {
  color: rgb(199, 199, 199);
}

.footer-copyright {
  color: white;
}

 #entry-text {
  width: 75%
}

#concept-text {
  width: 50%;
}


.img-with-text {
  text-align: justify;
  padding: 7px;
}

.img-with-text img {
  display: block;
  margin: 0 auto;
}