/* Import the google web fonts you want to use */
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Lato&display=swap');

/*Typography
--------------------------------------------------------------*/
body,
button,
select {
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", serif;
  letter-spacing: 2px;
}

p {
  margin-bottom: 1.5em;
}

.card {
margin: 10px;
}

.collapsible,.collapsible2 {
  background-color: #708090;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}
 .collapsible:hover,.collapsible2:hover {
  background-color: #536878;
}

.content, .content2 {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.collapsible:after,.collapsible2:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}



.demo-footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 15px;
	background-color: #212121;
	text-align: center;
  z-index:2
}

.demo-footer > a {
	text-decoration: none;
	font-weight: bold;
	font-size: 16px;
	color: #fff;
}


.img-with-text {
  text-align: justify;
  padding: 7px;
}

.img-with-text img {
  display: block;
  margin: 0 auto;
}